@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

body{
    background-color: #ffffed;
    font-family: "Domine", serif;
}
/*post content*/
.blog-posts {
  font-family: "Domine", serif;
  font-weight: 400;
  font-style: normal;
  color:#4169E1;
  margin-top: 5%;
  margin-left: 16%;
  margin-right: 16%;
  margin-bottom: 10%;

}

/*post title*/
.post-content-title {
  font-size: 40px;
  color:#FA8072;
}

code {
  background: none !important;
}

.post-content img {
  width: 100%;
  object-fit: contain;
}


/*nav bar ----------*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #4169E1;
  display: flex;
  justify-content: center;
  
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  font-size: 20px;
  text-decoration: none;
  font-style: normal;
  
}

ul li a:hover {
  background-color: #FA8072;
}