@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');


/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #110518; 
  border-radius: 2px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #241038; 
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1e0925; 
}

/*general*/ 



.social_media_box{
  text-align: center;
  
}

.social_media{
  opacity: 1;
}

.social_media:hover{
  opacity:1;
  /* filter: drop-shadow(0 0 0.75rem #87CEFA); */
}

.social_media_box img{
  height: 50px;
  width: 50px;
  margin: 15px;;
}

.descriptionBar{
  font-style: normal;
  text-align: center;
  background-color: #F0E68C;
  padding:8px;
  font-size: 13px;

}

/*index --------------------------------*/
body {
  font-family: "Domine", serif;
  font-weight: 400;
  font-style: italic;
  background-color:#FFFFF0;
  
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container div {
  /* width: 192px; */
  text-align: center;  
  margin-left: 32px;
  margin-right: 32px;
  font-size: 20px;
  
}

.container img{
  width: 192px;
} 

.container p{
  font-style: normal;
  margin:0;
}

/* .main_menu p{
  text-align: center;
  font-size: 32px;
  margin: 0px;
  
}

.main_menu img{
  width: 192px;
  object-fit: contain;
  display: inline-flex;
  margin-left: 32px;
  margin-right: 32px;

} */

.header h1{
  text-align: center;
  color:#FA8072;
  font-size: 80px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.header h2{
  text-align: center;
  color:#FA8072;
  font-size: 40px;
  font-weight: 300;
  padding: 0;
}




/* gallery -----------------------*/
.home_gif {
  width: 100%;
}


.gallery_header{
  text-align: center;
  color: #FA8072;
  font-size: 70px;
  font-weight: 300;
}

.all_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin:5%;
  
}

.grid-item{ /* the img */
  width: 200px;
  height:250px;
  object-fit: cover;
  text-align: center;
  border-radius: 7px;
}


/* projects -----------------------*/


.project_header{
  text-align: center;
  color:#FA8072;
  font-size:70px;
  font-weight: 300;
}
.project_paragraph{
  text-align: center;
  color: #dfb9cd;
  font-size:50px;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  
}

.card{
  width: 300px;
  margin: 50px;
  border: 4px solid white;
  border-color: #4169E1;
}

.card img{
  width: 300px;
  height: 300px;
  object-fit: cover;
 
}

.card-container{
  padding:10px;
}

.buttons{
  display: flex;
  justify-content: space-evenly;
  
}

.card a:link, .card a:visited {
  
  background-color: #df6158;
  color: white;
  padding: 6px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  
}
.card a:hover, .card a:active {
  background-color: #6495ED;
}





/*blog table of contents page ---------------------*/
.posts{
  background-position: center;
  font-size:20px;
  font-style: normal;

}

.date{
  color: #FA8072;
}

.posts .date{
  text-align: right;

}

  

/*nav bar ----------*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #4169E1;
  display: flex;
  justify-content: center;
  
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  font-size: 20px;
  text-decoration: none;
  font-style: normal;
  
}

ul li a:hover {
  background-color: #FA8072;
}


