<!DOCTYPE html>
<html>

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-VDV7Y43HTE"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-VDV7Y43HTE');
  </script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Maitri</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
  <link href="/css/style.css" rel="stylesheet" type="text/css" />

</head>

<body>
  {% include navbarPartial.html %}

  {{content}}
</body>

</html>